.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.logo {
  background: rgb(0, 186, 182);
  color: #fff;
}

.header {
  background: rgb(0, 167, 169);
}
.site-layout {
  background-color: transparent;
}
[data-theme="dark"] .site-layout .site-layout-background {
  background: #141414;
}

.ant-layout {
  background-color: transparent;
}

.header-secondary {
  background-color: #fff;
  color: #282c34;
  text-align: left;
  border-bottom: 2px solid #eee;
}

.header-secondary h2 {
  width: max-content;
  margin: 0;
}

.box {
  background-color: #fff;
  border: 1px solid #eee;
  height: 200px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
